<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ block "title" . }}
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ end }}

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/icons/manifest.json">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
     <link rel="stylesheet" type="text/css" href="/fonts.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat" rel="stylesheet">-->

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <!-- Analytics -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="85dfca14-21e5-4aee-af43-745752d1cea1"></script>

    {{ block "head" . }}{{ end }}
</head>
<body>
    {{ block "main" . }}{{ end }}
</body>
</html>
