/* Inconsolata Regular */
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inconsolata-regular.woff2') format('woff2');
}

/* Inconsolata Bold */
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/inconsolata-bold.woff2') format('woff2');
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/montserrat-regular.woff2') format('woff2');
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/montserrat-bold.woff2') format('woff2');
}
